@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800");
/* font-family: 'Dosis', sans-serif; */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900");
/* font-family: 'Raleway', sans-serif; */

@import "~/assets/css/normalize.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
  font-family: "omnesmedium";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 25px 0px;
  min-height: 70vh;
}

.content__main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.content__second-title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
}

.content__text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin: 40px 0;
  line-height: 1.5;
}

.glossaire {
  color: rgba(38, 46, 80, 0.8);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 50px 0 0;
  }
}
